<p class="d-grid">
    <button
      class="btn btn-primary"
      (click)="changeCategory()"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Categories
    </button>
  </p>
  <div class="list-group collapse d-md-block" id="collapseExample">
    <button
      *ngFor="let c of categories"
      (click)="changeCategory(c)"
      href="#"
      class="list-group-item list-group-item-action"
      [class.active]="c == selectedCategory"
    >
      {{ c.name | titlecase }}
    </button>
  </div>
