<div class="container-fluid">
  <div class="row">
    <div class="col bg-primary p-2 text-white">Admin Panel</div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3 d-grid">
      <button routerLink="/shop" class="btn btn-outline-info">
        Shop
      </button>
      <button
        routerLinkActive="active"
        routerLink="/admin/main/products"
        class="btn btn-outline-info"
      >
        Products
      </button>
      <button
        routerLinkActive="active"
        routerLink="/admin/main/categories"
        class="btn btn-outline-info"
      >
        Categories
      </button>
      <button
        routerLinkActive="active"
        routerLink="/admin/main/orders"
        class="btn btn-outline-info"
      >
        Orders
      </button>

      <button (click)="logout()" class="btn btn-outline-danger">
        Logout
      </button>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
