<navbar></navbar>
<div class="container-fluid pt-100">
  <div class="row">
    <div class="col-md-3">
      <p class="d-grid">
        <button
          class="btn btn-primary"
          (click)="changeCategory()"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Categories
        </button>
      </p>
      <div class="list-group collapse d-md-block" id="collapseExample">
        <a
          *ngFor="let c of categories"
          (click)="changeCategory(c)"
          href="#"
          class="list-group-item list-group-item-action"
          [class.active] ="c == selectedCategory"
          >{{ c.name | titlecase }}</a
        >
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="alert alert-warning">
            {{ products.length }} of products has been listed.
        </div>
      </div>
        <ng-container *ngFor="let p of products">
          <div class="col-md-4">
            <div class="card mb-3 align-items-center">
              <img
                src="/assets/img/{{ p.imageUrl }}"
                class="img-fluid"
                alt=""
                width="307"
                height="240"
              />
              <div class="card-body">
                <h4 class="card-title">
                  <a href="">
                    {{ p.name }}
                  </a>
                </h4>
                <small class="text-muted">
                  <i class="fa-solid fa-turkish-lira-sign"></i> {{ p.price }}
                </small>
              </div>
              <div class="card-md-footer p-2 bg-secondary bg-opacity-25 text-center w-100">
                <button class="btn-warning btn-sm rounded-2 me-1">
                  Details
                </button>
                <button class="btn-primary btn-sm rounded-2">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      
    </div>
  </div>
</div>
</div>
