<!-- md screen butons -->

<navbar></navbar>
<div class="container-fluid pt-100">
  <div class="row">
    <div class="col-md-3">
      <cart-summary></cart-summary>
      <p class="d-grid">
        <button
          class="btn btn-primary"
          (click)="changeCategory()"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Categories
        </button>
      </p>
      <div class="list-group collapse d-md-block" id="collapseExample">
        <button
          *ngFor="let c of categories"
          (click)="changeCategory(c)"
          href="#"
          class="list-group-item list-group-item-action"
          [class.active]="c == selectedCategory"
        >
          {{ c.name | titlecase }}
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning">
            <div class="form-inline">
              {{ selectedProducts.length }} of products has been listed.
              <select class="form-control-sm" [value]="productsPerPage" (change)="changePageSize($any($event.target).value)">
                <option value="2">2 ppg</option>
                <option value="3">3 ppg</option>
                <option value="4">4 ppg</option>
                <option value="6">6 ppg</option>
                <option value="8">8 ppg</option>
              </select>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let p of products">
          <div class="col-md-4">
            <div class="card mb-3 align-items-center">
              <img
                src="/assets/img/{{ p.imageUrl }}"
                class="img-fluid"
                alt=""
                width="307"
                height="240"
              />
              <div class="card-body">
                <h4 class="card-title">
                  <a href="">
                    {{ p.name }}
                  </a>
                </h4>
                <small class="text-muted">
                  <i class="fa-solid fa-turkish-lira-sign"></i> {{ p.price }}
                </small>
              </div>
              <div
                class="card-footer p-2 bg-secondary bg-opacity-25 text-center w-100"
              >
                <button class="btn-warning btn-sm rounded-2 me-1">
                  Details
                </button>
                <button
                  (click)="addProductToCart(p)"
                  class="btn-primary btn-sm rounded-2"
                >
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <div class="btn-group">
            <button
              *ngFor="let page of pageNumbers"
              (click)="changePage(page)"
              class="btn btn-outline-primary"
              [class.active]="page == selectedPage"
            >
              {{ page }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
